numpy==1.26.4
redis
psutil
faiss-cpu
requests
pymongo
kafka-python
zstandard
torch
mediapipe
pyyaml
easyocr
ultralytics
pydantic_settings
boto3
transformers
langchain-community==0.2.1
deepface
langchain
tf-keras