fastapi
faiss-cpu
requests
pymongo
torch
pyyaml
easyocr
kafka-python
pydantic-settings
boto3
transformers
uvicorn
mediapipe
deepface
ultralytics
tf-keras
opencv-python
redis
memory_profiler
langchain_community